

/* Other buttons can be assigned an order value as needed */


.headerLink.headerLink--vdm.subscribe-custom-header-links.headerLink--keep {
    margin-right: 6px;
    margin-top: 6px;
    font-size: 12px !important;
}


.banner00 {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.banner00 h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner00 p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
    font-family: Montserrat, Arial, sans-serif;
}


.social-media {
  margin-top: 20px;
}

.social-media p {
  font-size: 16px;
  margin-bottom: 10px;
}




.ham{font-size: 25px !important;}

.headerLink.headerLink--vdm.subscribe-custom-header-links.headerLink--keep{
margin-top: 1px;
    
}

.social-media a {
  margin: 0 10px;
  display: inline-block;
}

.social-media img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%); 
}
.sign-up-btn {
    display: inline-block;
    background-color: #ffeb3b;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 80px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.social-media img:hover {
  filter: none; /* Remove grayscale on hover */
}

.upu-button{
    font-size: 15px !important;
    margin-right: -10px;
    margin-top: -2px;
}
.sign-up-button {
    margin-right: 2px !important;
  display: inline-block;
  background-color: #ffeb3b;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px !important;
  margin-top: -2px;

}

.social-media {
  margin-top: 20px;
}

.social-media p {
  font-size: 18px;
  margin-bottom: 10px;
}




.social-media a {
  margin: 0 10px;
  display: inline-block;
}

.social-media img {
  width: 30px;
  height: 30px;
  filter: grayscale(100%); /* To make icons grayscale like the design */
}

.social-media img:hover {
  filter: none; /* Remove grayscale on hover */
}

//banner=post//
#main>div #main-outlet {

    max-width: 100% !important;
    width: 100% !important;
}

.header {
  position: relative;
}

.panel .header-buttons .login-button {
    font-size: 14px;
    }



.panel .header-buttons .sign-up-button {
    font-size: 14x;
    color: #000;
    padding: 7px 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.05) 0px -3px 4px, rgba(0, 0, 0, 0.05) 0px 0px 5px;
    
    }

 .buttons1{
    width: 150px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.05) 0px -3px 4px, rgba(0, 0, 0, 0.05) 0px 0px 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 24px;
    background:#FFED22;
    margin-left: 6em;
    text-align: center;
    margin-left: 6px;
}


.buttons1, .buttons2 {
  display: inline-block;
}



#main .banner-box {
    height: 31.5em;
}

.banner-box h1, .banner-box h2, .banner-box h3 {
    color: black
}

.x-title {
    display: none;
}
.x-title1 {
    display: none;
}

.revolution::before {
  content: "The \A Great \A Revolution";
  white-space: pre-line; /* Ensure the line breaks are respected */
  display: block;
  font-size: 60px;
font-weight: bold;
line-height: 1.2 !important;
font-family: Helvetica;
  margin-top: 40px;
}

.revolution1::before {
  content: "News, debates and initiatives to stop our transition to Stakeholder Capitalism.";
  white-space: pre-line; /* Ensure the line breaks are respected */
  display: block;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 4px;
}

.sidebar-wrapper, .header-sidebar-toggle {
        display: none !important;
   }


//share page//

.custom-share-section {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: flex-start; /* Align everything to the left */
    margin-top: 20px;
}

.share-title {
    margin-bottom: 10px; /* Space between "Share page:" and icons */
    font-weight: bold;
}

.icon-row.hidden-icons {
    margin-top: -22px;
    max-width: 300px;
}
.icon-row {
    margin-top: -31px;
    display: flex;
    align-items: center;
    margin-left: 116px;
    gap: 10px !important;
    margin-bottom: 30px;
}

.hidden-icons {
    display: none; /* Initially hidden */
    flex-wrap: wrap; /* Allow icons to wrap into rows */
    gap: 15px; /* Space between rows and icons */
    margin-bottom: 30px;
}


.show-icons .hidden-icons {
    display: flex; /* Show hidden icons when toggle is active */
    flex-wrap: wrap; /* Wrap icons into multiple rows */
    max-width: 250px; /* Limit the width to ensure rows of 4 icons */
    gap: 10px;
}

.share-icon {
    font-size: 22px;
    background-color: #fdf063;
    color: #333;
    border-radius: 50%;
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color .3s ease, background-color .3s ease;
}

.share-icon i {
    color: #333; /* Default icon color */
}

.share-icon:hover {
    background-color: #333; /* Change background color on hover */
}

.share-icon:hover i {
    color: #fdf063; /* Change icon color to yellow on hover */
}

.toggle-icons {
    //align-self: center;
    cursor: pointer;
}

.toggle-icons i {
    margin-top: 12px; 
    font-size: 20px;
    color: #333;
}

.toggle-icons i:hover {
    color: #fdf063;
}

//new//
 .icon-row {
    display: flex;
    align-items: center;
  }

  .share-icon {
    margin-right: 10px;
    background-color: #fdf063;
    border-radius: 50%;
    color: black;
  }

  .toggle-icons {
    margin-left: -1px;
    cursor: pointer;
  }
  
.fab.fa-whatsapp {
    font-size: 22px;
    margin-left: 2px;
    margin-top: -1px;
}

.fab.fa-facebook-messenger{
    font-size: 22px;
    margin-left: 2px;
    margin-top: -1px;
}
.share-icon {
    padding: 2px 8px 0px 7px;
    margin-top: 6px;
    margin-right: 6px;
    border-radius: 52px;
    border: 1px solid #fdf063;
}


  .header-buttons {
    display: flex !important; /* Ensure buttons are flex */
    opacity: 1 !important; /* Ensure visibility */
  }
  .hamburger-dropdown{
    display: flex !important; /* Ensure buttons are flex */
    opacity: 1 !important; /* Ensure visibility */
  }

.actions button.post-action-menu__copy-link span {
    font-size: 18px;
}


.ham
{margin-right: -10px;
font-size: 30px !important;
margin-top: -5px;
}
.hamburger-dropdown {
        display: none !important;
}

//banner topic signup//

.sshare-icon {
    font-size: 18px;
    background-color: #fdf063;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color .3s ease, background-color .3s ease;
}

.sshare-icon i {
    margin-top: 9px;
    color: #333;
}

.sshare-icon:hover {
    background-color: #333; /* Change background color on hover */
}

.sshare-icon:hover i {
    color: #fdf063; /* Change icon color to yellow on hover */
}

